/*
    WORK IN PROGRESS
*/
:root {
    --time: 5s;
}
html {
    height:100vh;
}
body {
    background-image:radial-gradient(circle, rgb(198, 203, 215), rgb(198, 212, 215), rgb(165, 192, 199));
}
input {
    height:30px;
    width:250px;
    align-self:flex-start;
}
button {
    background-color:rgb(165, 192, 199);
    width:100%;
}
button:hover {
    background-color:rgba(165, 192, 199, 0.6);
}
input {
    box-sizing:border-box;
    height:40px;
}
p {
    margin-bottom:0%;
    margin-top:5%;
}
.accountInfo {
    padding-top:15px;
    padding-bottom:15px;
    align-self:flex-start;
    font-family:"Bona Nova SC", serif;
    font-weight:400;
}
#theBase {
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:10%;
}
.confetti:nth-child(1) {
    background-color: #f2d74e; left: 28%; 
    animation:confetti var(--time) ease-in-out 2.529s;
}
.confetti:nth-child(2) {
    background-color: #95c3de; left: 30%; 
    animation:confetti var(--time) ease-in-out 0.662s;
}
.confetti:nth-child(3) {
    background-color: #ff9a91; left: 32%; 
    animation:confetti var(--time) ease-in-out 1.636s;
}
.confetti:nth-child(4) {
    background-color: #f2d74e; left: 34%; 
    animation:confetti var(--time) ease-in-out 1.506s;
}
.confetti:nth-child(5) {
    background-color: #95c3de; left: 36%; 
    animation:confetti var(--time) ease-in-out 0.825s;
}
.confetti:nth-child(6) {
    background-color: #ff9a91; left: 38%; 
    animation:confetti var(--time) ease-in-out 0.751s;
}
.confetti:nth-child(7) {
    background-color: #f2d74e; left: 40%; 
    animation:confetti var(--time) ease-in-out 1.526s;
}
.confetti:nth-child(8) {
    background-color: #95c3de; left: 42%; 
    animation:confetti var(--time) ease-in-out 0.975s;
}
.confetti:nth-child(9) {
    background-color: #ff9a91; left: 44%; 
    animation:confetti var(--time) ease-in-out 0.555s;
}
.confetti:nth-child(10) {
    background-color: #f2d74e; left: 46%; 
    animation:confetti var(--time) ease-in-out 1.305s;
}
.confetti:nth-child(11) {
    background-color: #f2d74e; left: 48%; 
    animation:confetti var(--time) ease-in-out 1.316s;
}
.confetti:nth-child(12) {
    background-color: #95c3de; left: 50%; 
    animation:confetti var(--time) ease-in-out 1.204s;
}
.confetti:nth-child(13) {
    background-color: #ff9a91; left: 52%; 
    animation:confetti var(--time) ease-in-out 0.528s;
}
.confetti:nth-child(14) {
    background-color: #f2d74e; left: 54%; 
    animation:confetti var(--time) ease-in-out 1.15s;
}
.confetti:nth-child(15) {
    background-color: #95c3de; left: 56%; 
    animation:confetti var(--time) ease-in-out 0.622s;
}
.confetti:nth-child(16) {
    background-color: #ff9a91; left: 58%; 
    animation:confetti var(--time) ease-in-out 1.274s;
}
.confetti:nth-child(17) {
    background-color: #f2d74e; left: 60%; 
    animation:confetti var(--time) ease-in-out 2.329s;
}
.confetti:nth-child(18) {
    background-color: #95c3de; left: 62%; 
    animation:confetti var(--time) ease-in-out 1.895s;
}
.confetti:nth-child(19) {
    background-color: #ff9a91; left: 64%; 
    animation:confetti var(--time) ease-in-out 2.197s;
}
.confetti:nth-child(20) {
    background-color: #f2d74e; left: 66%; 
    animation:confetti var(--time) ease-in-out 2.158s;
}
#loginBase {
    background-color:whitesmoke;
    box-shadow:10px;
    border-radius:7px;
    box-shadow:0px 0px 10px 5px rgb(189, 189, 189);
    width:400px;
    height:450px;
    display:flex;
    justify-content:center;
}
#loginBtn {
    margin-top:15px;
    height:35px;
    border:2px solid rgb(165, 192, 199);
    font-family:"Oswald", sans-serif;
    font-size:large;
    font-weight:400;
    cursor:pointer;
}
#loginTitle {
    font-family:"Oswald", sans-serif;
    font-weight:500;
    font-size:x-large;
}
#userInput {
    width:250px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:10%;
    padding-bottom:4%;
}
#unameInput {
    margin-top:25px;
}
#errorBox {
    margin-top:10px;
    color:red;
    font-size:medium;
}
#goBack {
    background-color:#1a332e;
    color:white;
    width:150px;
    height:100px;
    margin:20px;
    border-radius:5px;
    border:4px groove gray;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}
#goBack:active {
    background-color:#1a332ed3;
}
@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,90vh); }
}
